<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTER</title>
    {% load staticfiles %}
</head>
<body>

<h1>
    REGISTRATION
</h1>

<h3>Course Offering Preferences</h3>

{#<form action='/dumb/' method="post">#}
<form method="post">
    {% csrf_token %}
    <ul class="sortable">
        {% for pref in course_preference %}
            <li class="course-container">
                <input class='course-selected' id='{{ pref }}-checkbox' type="checkbox" checked>
                <label for="course_id-{{ pref.id }}">{{ pref }}</label>
                <input class="preference-order" hidden id="course_id-{{ pref.id }}" name="course_id-{{ pref.id }}" value="">
            </li>
        {% endfor %}
        {% for offering in course_offering %}
            {% if offering not in course_preference %}
                <li class="course-container">
                    <input class='course-selected' id='{{ offering }}-checkbox' type="checkbox">
                    <label for="course_id-{{ offering.id }}">{{ offering }}</label>
                    <input class="preference-order" hidden id="course_id-{{ offering.id }}" name="course_id-{{ offering.id }}" value="">
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div>
        <label for="max-classes">
            Max Classes
            <input type="number" id="max-classes" name='max-classes' value={{ max_classes }}>
        </label>
    </div>
    <div>
        <input type="submit" value="dumb form" onclick="return beforeSubmit()" />
    </div>
</form>

{#<button onclick="submit()">#}
{#    {% csrf_token %}#}
{#    submit button onclick#}
{#</button>#}

{#<script>#}
{#    function submit() {#}
{#        alert('hello submit');#}
{#        $.post('/register/', 'POST', {});#}
{#        return false;#}
{#    }#}
{#</script>#}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "/html5sortable/jquery.sortable.js" %}"></script>
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
<script>
    $('.sortable').sortable();

    function beforeSubmit() {
        console.log('before submit');
        const preferences = document.getElementsByClassName("course-container");
        let pref_number = 0;
        for(let i = 0; i < preferences.length; i++ ) {
            if (preferences[i].getElementsByClassName('course-selected')[0].checked) {
                preferences[i].getElementsByClassName('preference-order')[0].value = pref_number;
                {# preferences[i].value = pref_number;#}
                ++pref_number;
                console.log(preferences[i]);
            }
        }
        return true
    }

</script>

</body>
</html>